PG_USER=postgres
PG_PASSWORD=change_me
PG_NAME=xakat0n
PG_PORT=5433

API_PORT=8080

GRAFANA_PORT=4000
VICTORIA_METRICS_PORT=8428

DB_URL=postgresql://postgres:change_me@postgres:5432/xakat0n?sslmode=disable

JWT_PRIVATE_KEY_PATH=/app/keys/private.pem
JWT_PUBLIC_KEY_PATH=/app/keys/public.pem