html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Apple System', 'Segoe UI', Verdana, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}